<!doctype html>
<html>
<head>
	<title>Help-Out</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	{{{body}}}
	<script src="/javascript/script.js"></script>
	<script src="/javascript/geocode.js"></script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNw8byOkGIplPkdFiaItOeeenq_fFqdmU&callback=initSearch">
    </script>
</body>
</html>