<header class="jumbotron jumbotron-fluid">

  <div class="nav-header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navMain">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Help Out</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

      
      <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" style="opacity: 1">
        <li class="nav-item active">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>
      <div class = "header-btn">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </div>
    </div>
  </nav>
</div>

  
  <div class="container">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
</header>
<h1>Help Out</h1>




