<header class="jumbotron jumbotron-fluid"> 
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navMain">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav" id="navElements">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>
    </div>

    <div class = "header-btn">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </div>
    
  </nav>

  <div class="container" id="jumboText">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
  
</header>

<h1>Help Out</h1>




