<!-- Header -->
<div id="homePageText">

  <header class="jumbotron jumbotron-fluid" id="homePageJumbo"> 
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navMain">
      <div class="container">
        <div class="row">

          <div class="col-sm">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".nav-collapse">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
              <ul class="navbar-nav" id="navElements">
                <li class="nav-item active">
                  <form action="/" method="get">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                  </form>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="skillPageNavBtn" href="/skilledVolunteerSearch">Find Skilled Volunteer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categoryHostSearch">Find Host by Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/browseVolunteers">Browse Volunteers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/browseHosts">Browse Event Hosts</a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-sm" >
            <div class = "header-btn" id="loginBtn">
              <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container" id="jumboText">
      <h1 class="display-3">Make a Difference</h1>

      <div class="container" id="searchForm">
      <form class="form" >

        <fieldset class="form-group">
          <label for="exampleInputEmail1">Search for volunteer opportunites near you</label>
          <input type="text" class="form-control" id="userAddress" placeholder="Enter Address or Zip Code">
          <label class="mr-sm-2" id=distanceLabel for="inlineFormCustomSelect">How far are you willing to travel?</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="distance">
            <option selected>Choose Distance</option>
              <option value="0.25">0.25 Miles</option>
              <option value="0.5">0.5 Miles</option>
              <option value="1">1 Mile</option>
              <option value="5">5 Miles</option>
            <option value="10">10 Miles</option>
            <option value="25">25 Miles</option>
            <option value="50">50 Miles</option>
            <option value="100">100 Miles</option>
          </select>
          <button type="submit" class="btn btn-success" id="searchSubmit">Search</button>
        </fieldset>

      </form>

    </div>
        <p>Implementation by Group 11 - Nathan Zimmerman, Aaron Peressini, Tanya Haddad, Sarah Harber, Casey Bennink
        </p>

    </div>

  </header>

  <!-- Services -->

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>Help Out is a social platform for connecting volunteers with events.</h4>
        <p> Help Out is a great way to connect and help with people near you.  Simply
          Enter your address and the system will find local events that you can volunteer
        for. Alternatively, you can post events and find volunteers near you. </p>
      </div>
      <div class="col-sm">

      </div>
    </div>
  </div>
</div>

<div class="container" id="searchContainer">

</div>




