table, th, td {
    border: 1px solid black;
}

.tableLinks li {
	display: inline;
	padding: 10px;
}

ul.tableLinks {
	padding: 0;	
}

.home li {	
	padding: 10;
	display: list-item;
	list-style-type: circle;
}

header.jumbotron {
	background-image: url(/img/group.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;
}

header.jumbotron .nav-header .navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

header.jumbotron .nav-header .navbar .header-btn {
	position: fixed;
	right: 0;
}

#navMain {
	opacity: 0.8;
}