table, th, td {
    border: 1px solid black;
}

.tableLinks li {
	display: inline;
	padding: 10px;
}

ul.tableLinks {
	padding: 0;	
}

header.jumbotron {
	background-image: url(/img/group3.jpg);
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 300px;
}

header.jumbotron .navbar {
	
}


header.jumbotron .nav-header .navbar .header-btn {
	position: fixed;
	right: 10px;
}

#navMain {
	opacity: 0.7;
	
}

#navElements {
	position: relative;
	left: 20%;
}

#jumboText {
	padding-top: 20px;
}
