table, th, td {
    border: 1px solid black;
}

.tableLinks li {
	display: inline;
	padding: 10px;
}

ul.tableLinks {
	padding: 0;	
}

#homePageJumbo {
	background-image: url(/img/group2.jpg);
	background-attachment: scroll;
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;	
}

#skillPageJumbo {
	position: absolute;
	background-image: url(/img/group5.jpg);
	background-attachment: scroll;
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	left: 0;
}

#searchResPageJumbo {
	position: absolute;
	background-image: url(/img/mapPart.jpg);
	background-attachment: fixed;
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	min-height: 200px;
	width: 100%;
	left: 0;
}

#navMain {
	background-color: rgba(255,255,255,0.7) !important;
}

#jumboText {
	padding-top: 20px;
}

#searchContainer {
	padding-top: 100px;
}

#skilled_volunteer_search_form, #host_category_search_form {
	padding: 40px;
}

#eventSearchResults {
	padding: 40px;
}

#searchForm {
	color: white;
	background-color: rgba(0,0,0,0.65);
	border-radius: 25px;
	padding: 20px;
	
}

#distanceLabel {
	padding-top: 10px;
}

#skillsPage {
	padding: 40px;
	position: absolute;
	top: 200px;
	left: 0px;
	right: 0px;
	height: 100%;
	margin: 0 auto;
	background-color: white;
}

#eventSearchResPage {
	padding: 40px;
	position: absolute;
	top: 160px;
	left: 0px;
	right: 0px;
	height: auto;
	background-color: white;
}

#skillsPageBackground {
	position: absolute;
	height: 100%;
	min-width: 100vw;
}

@media only screen and (max-height: 500px) {
	#skillPageJumbo {
		visibility: hidden;
	}

	#searchResPageJumbo {
		visibility: hidden;
	}

	#skillsPage {
		top: 20px;
	}

	#eventSearchResPage {
		top: 100px;
		height: auto;
	}

	#navMain {
		background-color: white !important; 
	}
}

#map {
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
	.display-3 {
		font-size: 250%;
	}
}

#skillsPageBody {
	background-color: #f9f5e5;
}

#footer {
	padding: 10px;
}

#eventInformationResult {
	padding-top: 100px;
}

#eventInfoRes {
	padding-bottom: 15px;
}

.getInfo {
	background:none!important;
    color:blue;
    border:none; 
    padding:0!important;
    font: inherit;
    //border-bottom:1px solid #444; 
    cursor: pointer;
}
/*
.postEventForm{
	width: 50%;
	margin-left:25%;
	margin-right:25%;
	padding: 20px;
	background-color: orange;	
}

#formdiv{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#postlabel {
	width:20%;
	text-align: left;
	margin:2px;
	display:inline-block;
	font-size:18px;
}

.eventPost, input{
	width:75%;
	margin:5px;
	display:inline-block;
}

#textarea{
	height:75px;
}

#eventPostHeader{
	width:100%;
	text-align: Center;
	color: rgb(255, 162, 2);
	height: 150px;
	font-size:100px;
	text-decoration: underline;
	text-shadow: 2px 2px black;
}

#eventinfo{
	padding-top:15px;
	text-align: left;
	margin-right: 65%;
	font-size: 18px;
	font-weight: bold;
	color:white;
}

.subbutton{
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

#thisbutton{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	align-items:center;
}
*/